In [1]:
import numpy as np
import pandas as pd
import os
import re

In [2]:
folder_path = "data"
file_name   = "preco_medicamento.csv"
file_path   = os.path.join(folder_path,file_name)
file_path

'data/preco_medicamento.csv'

### **Ler o arquivo**

<details><summary><b>SPOILER (Resposta para continuar o exercicio)</b></summary>
    
```python
df = pd.read_csv(path, encoding="latin-1", sep=";")
```

Obs: comando ```file``` pode trazer informações interessantes sobre o problema.

In [3]:
df = pd.read_csv(file_path, encoding="latin-1", sep=";")

### **Checar dataframe**

1. Mostrar a quantidade de linhas e colunas.
2. Mostrar o tipo de dado de cada coluna.
3. Mostrar a quantidade de dados faltantes em cada coluna. Se houver, remover  as linhas faltantes.
4. Checar existência de linhas duplicadas (Caso exista remover).

**Parte 1**

In [4]:
print(f"Linhas: {df.shape[0]}, Colunas: {df.shape[1]}")

Linhas: 24291, Colunas: 5

**Parte 2**

In [5]:
df.dtypes

SUBSTÂNCIA              object
PF 17% ALC              object
PF 17                   object
TIPO DE PRODUTO         object
COMERCIALIZAÇÃO 2019    object
dtype: object

**Parte 3**

In [6]:
def meuPrint(x):
    return np.sum(x)

df.isna().apply(meuPrint, axis=0)

SUBSTÂNCIA                0
PF 17% ALC              772
PF 17                   772
TIPO DE PRODUTO           0
COMERCIALIZAÇÃO 2019      0
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.reset_index(drop=True,inplace=True)

**Parte 4**

In [9]:
df = df.drop_duplicates().reset_index(drop=True)
df

,SUBSTÂNCIA,PF 17% ALC,PF 17,TIPO DE PRODUTO,COMERCIALIZAÇÃO 2019
0,CLORIDRATO DE MEMANTINA,"155,54","155,54",Similar,Sim
1,ITRACONAZOL,"4451,41","4451,41",Similar,NÃ£o
2,RAMELTEONA,"21,30","24,47",Novo,NÃ£o
3,NICOTINAMIDA;NITRATO DE TIAMINA;GLICINATO FÃR...,"14,52","16,68",EspecÃ­fico,Sim
4,MESILATO DE DOXAZOSINA,"77,37","77,37",Similar,NÃ£o
...,...,...,...,...,...
20907,LACTATO DE SÃDIO;CLORETO DE POTÃSSIO;CLORETO...,"213,31","213,31",Similar,Sim
20908,BISSULFATO DE CLOPIDOGREL,"36,42","36,42",GenÃ©rico,Sim
20909,CLORETO DE POTÃSSIO,"9,47","10,87",Similar,Sim
20910,ETABONATO DE LOTEPREDNOL,"48,94","48,94",Novo,Sim
20911,ALBUMINA HUMANA,"2794,42","2794,42",Similar,NÃ£o

### **Estatisticas das variáveis**

1. Calcular média e desvio padrão para as variáveis "PF 17% ALC" e "PF 17"
2. Na variável comercialização_2019 mapear para 1 quando for "Sim" e 0 quando for "Não". Caso seja outro valor dropar a linha.
3. Calcular a média e desvio padrão para as variáveis "PF 17% ALC" e "PF 17" quando `COMERCIALIZAÇÃO 2019` é 1, e para quando `COMERCIALIZAÇÃO 2019` é 0.

**Parte 1**

In [10]:
df["PF 17% ALC"] = df["PF 17% ALC"].apply(lambda x: float(x.replace(",",".")))

df["PF 17"] = df["PF 17"].apply(lambda x: float(x.replace(",",".")))

In [11]:
df["PF 17"]

0         155.54
1        4451.41
2          24.47
3          16.68
4          77.37
          ...
20907     213.31
20908      36.42
20909      10.87
20910      48.94
20911    2794.42
Name: PF 17, Length: 20912, dtype: float64

In [12]:
df["PF 17% ALC"].mean(),df["PF 17% ALC"].std()

(836.3998885807191, 7198.428925730309)

In [13]:
def myFunc(x):
    if x == "Sim":
        return 1
    elif x == "Siim":
        return 1
    else:
        return 0

df["COMERCIALIZAÇÃO 2019"]

0         Sim
1        NÃ£o
2        NÃ£o
3         Sim
4        NÃ£o
         ...
20907     Sim
20908     Sim
20909     Sim
20910     Sim
20911    NÃ£o
Name: COMERCIALIZAÇÃO 2019, Length: 20912, dtype: object

In [14]:
df["COMERCIALIZAÇÃO 2019"].apply(myFunc)

0        1
1        0
2        0
3        1
4        0
        ..
20907    1
20908    1
20909    1
20910    1
20911    0
Name: COMERCIALIZAÇÃO 2019, Length: 20912, dtype: int64

In [15]:
df["COMERCIALIZAÇÃO 2019"] = df[df["COMERCIALIZAÇÃO 2019"] != "???"]["COMERCIALIZAÇÃO 2019"].apply(lambda x: 1 if x == "Sim" else 0)

In [24]:
positivo = df[df["COMERCIALIZAÇÃO 2019"] == 1]["PF 17% ALC"]
negativo = df[df["COMERCIALIZAÇÃO 2019"] == 0]["PF 17% ALC"]

In [29]:
positivo.mean(), positivo.std()

(631.9131473636775, 5286.846135579722)

In [28]:
negativo.mean(), negativo.std()

(1067.6121780766096, 8871.519395710295)

In [32]:
df.groupby("COMERCIALIZAÇÃO 2019")\
  .agg({"PF 17% ALC":["mean","std","min"], "PF 17":["median"]})

                       PF 17% ALC                      PF 17
                             mean          std   min  median
COMERCIALIZAÇÃO 2019
0.0                   1067.612178  8871.519396  0.89  63.165
1.0                    631.913147  5286.846136  0.00  51.010

**Parte 2**

**Parte 3**